@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 992px !important;
    max-width: 992px !important;
  }
}
@media (max-width: 767px) {
  .container,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: none !important;
  }
}

body {
  background-color: rgb(250, 250, 250);
}
.tooltip-inner {
  min-width: min-content;
}
.tooltip.bs-tooltip-top .tooltip-arrow::before {
  border-top-color: var(--brand-gray);
}

.tooltip.bs-tooltip-bottom .tooltip-arrow::before {
  border-bottom-color: var(--brand-gray);
}

.tooltip.bs-tooltip-start .tooltip-arrow::before {
  border-left-color: var(--brand-gray);
}

.tooltip.bs-tooltip-end .tooltip-arrow::before {
  border-right-color: var(--brand-gray);
}

:root {
  /* Pink */
  --brand-pink: #e02ecf;
  --brand-pink-transparent: rgba(224, 46, 207, 0.6);
  --brand-pink-semi-transparent: rgba(224, 46, 207, 0.25);
  --brand-pink-hint: rgba(224, 46, 207, 0.08);

  /* Purple */
  --brand-purple: #8a2be2;
  --brand-purple-transparent: rgba(138, 43, 226, 0.6);
  --brand-purple-semi-transparent: rgba(138, 43, 226, 0.25);
  --brand-purple-hint: rgba(138, 43, 226, 0.08);

  /* Yellow */
  --brand-yellow: #cba727;
  --brand-yellow-transparent: rgba(203, 167, 39, 0.78);
  --brand-yellow-semi-transparent: rgba(203, 167, 39, 0.3);
  --brand-yellow-hint: rgba(203, 167, 39, 0.1);

  /* Green */
  --brand-green: #50ba9a;
  --brand-green-transparent: rgba(80, 186, 154, 0.78);
  --brand-green-semi-transparent: rgba(80, 186, 154, 0.3);
  --brand-green-hint: rgba(80, 186, 154, 0.1);

  /* Black */
  --brand-black: #14161b;
  --brand-black-transparent: rgba(20, 22, 27, 0.6);
  --brand-black-semi-transparent: rgba(20, 22, 27, 0.25);

  /* Red */
  --brand-red: #e02e2e;
  --brand-red-transparent: rgba(224, 46, 46, 0.6);
  --brand-red-semi-transparent: rgba(224, 46, 46, 0.25);
  --brand-red-hint: rgba(224, 46, 46, 0.1);

  /* Gray */
  --brand-gray: #666666;
  --brand-gray-transparent: rgba(102, 102, 102, 0.6);
  --brand-gray-semi-transparent: rgba(102, 102, 102, 0.25);

  /* Utils */
  --bg-light: #fff;
  --bg-med: #fcfcfc;
  --bg-dark: #f5f5f5;

  --border-light: rgba(0, 0, 0, 0.04);
  --border-med: rgba(0, 0, 0, 0.1);
  --border-dark: rgba(102, 102, 102, 0.25);

  --shadow-none: 0px 0px 0px rgba(0, 0, 0, 0);
  --shadow-low: 0px 4px 12px rgba(0, 0, 0, 0.03);
  --shadow-high: 0px 2px 8px rgba(0, 0, 0, 0.08);

  --card-transition: 0.15s cubic-bezier(0, 0.41, 0.6, 1.02);
}

/* breaks div out of the bootstrap .container to become full width with the viewport */
.break-out {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}

/* set react tooltip bg opacity */
.tooltip.show {
  opacity: 1;
  white-space: pre;
}

@media (max-width: 993px) {
  /* language selector on mobile */
  .navbar-nav .dropdown-menu {
    position: absolute !important;
  }
}

/* dropdown-basic */
.houseDropdown .dropdown button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 1rem;
}
.houseDropdown .dropdown button,
.houseDropdown .show > .btn-success.dropdown-toggle {
  background: transparent;
  width: 100%;
  height: 38px;
  font-weight: 600;
  color: var(--brand-black);
  border-radius: 10px;
  border: 1px solid var(--border-med);
}

.houseDropdown .show {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
}
.houseDropdown .dropdown .dropdown-menu.show {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 2px;
  width: 100%;
}

.houseDropdown .dropdown-item {
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  height: 38px;
  align-items: center;
}
.houseDropdown .dropdown-item:active,
.houseDropdown .dropdown-item:focus,
.houseDropdown .dropdown-item:hover {
  background: var(--border-light);
  border-radius: 10px;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:focus-visible {
  color: var(--brand-black) !important;
  outline: none !important;
  box-shadow: none !important;
  background: var(--bg-med);
  border: 1px solid rgba(102, 102, 102, 0.6);
}
/* voting progress bar */
.bg-success {
  background: var(--brand-purple) !important;
  border-radius: 6px 2px 2px 6px;
}
.bg-warning {
  background: var(--brand-purple-transparent) !important;

  /* only round border when there are already submitted votes
  as in we're ADDING more than one. so numAllotedVotes > 0 && .roundBorder */
}
/* .bg-warning */
.roundAllotmentBar .bg-warning {
  border-radius: 2px 6px 6px 2px !important;
  margin-left: 2px;
}
.infoSymbol {
  font-size: 10px;
}
.infoSymbol svg {
  margin-bottom: 2px;
}

/* revert stles to Bootstrap nav dropdown that get overridden by rich text editor because both use a generic .dropdown class */
.navbar-nav .dropdown {
  z-index: inherit !important;
  display: inherit !important;
  position: relative !important;
  box-shadow: inherit !important;
  border-radius: inherit !important;
  min-width: inherit !important;
  min-height: inherit !important;
  background-color: inherit !important;
}
.navbar-light .navbar-nav .nav-link:first-child {
  padding-right: 0 !important;
}

.hideBorderBox {
  background: #f5f5f5;
  top: 0;
  position: sticky !important;
  z-index: 1;
  height: 10px;
}

/* modals */
.ReactModal__Overlay--after-open {
  backdrop-filter: blur(5px) !important;
  z-index: 3;
}
.ReactModal__Content {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  max-height: max-content !important;
}

.proposalModalContainer {
  max-height: 100% !important;
  overflow-y: scroll !important;
  overflow-y: overlay !important;
}
.proposalModalContainer .container {
  min-width: 100%;
}

@media (max-width: 475px) {
  .footer .voteInput,
  .footer .votingBtns button {
    height: 38px;
    width: 38px;
  }
}
.web3modal-modal-lightbox {
  z-index: 9999999 !important;
}

.scrollMoreContainer:before {
  content: '';
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  top: 300px;
  bottom: 0px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(0, 0, 0, 0) 100%);
}
@media (max-width: 575px) {
  .scrollMoreContainer {
    display: none;
  }
}

@media (min-width: 576px) {
  .mobileTooltipContainer .voteAllotmentModal {
    display: none;
  }
}
@media (max-width: 575px) {
  .mobileTooltipContainer {
    display: flex !important;
    align-items: center;
    gap: 20px;
  }
/* rich text editor */
.editor-shell {
  margin: 0 !important;
}
.editor-container {
  border: 1px solid #ccc;
  border-top: none;
  max-height: 20em !important;
  overflow-y: auto !important;
}

.ContentEditable__root {
  min-height: 16em !important;
  font-size: 16px !important;
  padding: 0.75rem !important;
}
.toolbar {
  background: #f5f5f5;
  height: auto !important;
  margin-bottom: 0px;
  border: 1px solid #ccc;
  top: 0;
  position: sticky !important;
  z-index: 2;
}

[data-test-id='image-modal-option-sample'] {
  display: none;
}

.Modal__overlay {
  backdrop-filter: blur(10px) !important;
  background: rgba(0, 0, 0, 0.18) !important;
}
.Modal__modal {
  min-width: 550px !important;
  min-height: 150px !important;
  font-family: 'PT Root UI', sans-serif !important;
  font-weight: bold !important;
  background: #ffffff !important;
  box-shadow: 0px 2px 14px rgb(0 0 0 / 8%), 0px 6px 24px rgb(0 0 0 / 8%) !important;
  border-radius: 24px !important;
  padding: 18px !important;
  border: var(--border-light) !important;
}
.Modal__title {
  font-size: 22px !important;
  font-weight: bold !important;
  color: var(--brand-black) !important;
  border-bottom: none !important;
}
.ToolbarPlugin__dialogButtonsList {
  flex-direction: row !important;
  justify-content: center !important;
  margin-top: 0 !important;
  gap: 20px !important;
}
.ToolbarPlugin__dialogButtonsList button {
  width: 100% !important;
  background-color: white !important;
  border: 1px solid transparent !important;
  color: black !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
  padding: 0.575rem 0.65rem 0.525rem !important;
  white-space: normal !important;
  text-align: center !important;
  font-size: 16px !important;
  font-weight: bold !important;
  line-height: 140% !important;
  border-radius: 50px !important;
}
.ToolbarPlugin__dialogButtonsList button:hover {
  color: gray !important;
  background-color: white !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.Modal__content .Input__input {
  font-weight: bold !important;
  border-width: 0px !important;
  background-color: white !important;
  outline: 1px solid var(--brand-gray-semi-transparent) !important;
  border-radius: 10px !important;
  height: 40px !important;
}

[data-test-id='image-modal-confirm-btn'],
[data-test-id='image-modal-file-upload-btn'] {
  background-color: var(--brand-purple) !important;
  border: none !important;
  padding: 0.575rem 0.65rem 0.525rem !important;
  white-space: normal;
  text-align: center;
  font-size: 16px !important;
  font-weight: bold;
  line-height: 140%;
  color: white;
  min-width: 20%;
  border-radius: 50px !important;
}
[data-test-id='image-modal-file-upload']:hover,
input::file-selector-button:hover {
  cursor: pointer !important;
}
input::file-selector-button:hover {
  opacity: 0.6 !important;
}

input::file-selector-button {
  background-color: var(--brand-gray-semi-transparent) !important;
  border: 0px solid red !important;
  border-radius: 50px !important;
  margin-right: 10px !important;
}

.Button__disabled {
  background-color: var(--brand-gray) !important;
  border-color: var(--brand-gray-semi-transparent) !important;
  cursor: not-allowed !important;
  opacity: 0.65 !important;
}

.spaced .chevron-down {
  display: none !important;
}

.character-style-popup {
  display: none !important;
  height: auto !important;
}
.character-style-popup .popup-item:nth-child(4),
.character-style-popup .popup-item:nth-child(5),
.character-style-popup .popup-item:nth-child(6),
.character-style-popup .popup-item:nth-child(9),
.dropdown .item:nth-child(6),
.dropdown .item:nth-child(7) {
  display: none !important;
}
.dropdown .item .icon {
  margin-bottom: 0rem !important;
}
.Placeholder__root {
  font-style: italic !important;
  overflow: initial !important;
  white-space: break-spaces !important;
  font-size: 16px !important;
}
