@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-xl,
  .container-xxl {
    width: 992px !important;
    max-width: 992px !important;
  }
}

body {
  background-color: rgb(250, 250, 250);
}

:root {
  --brand-pink: #e02ecf;
  --brand-pink-semi-transparent: #e02ece9a;
  --brand-pink-transparent: #e02ece3f;
  --brand-black: #14161b;
  --brand-black-tansparent: #00000060;
  --brand-gray: #666666;
  --brand-gray-semi-transparent: #6666664f;
  --brand-gray-transparent: #6666662f;
  --brand-yellow: #cba727;
  --brand-yellow-transparent: #cba7274f;
  --brand-green: #50ba9a;
  --brand-green-semi-transparent: #50ba9ac7;
}

/* breaks div out of the bootstrap .container to become full width with the viewport */
.break-out {
  width: 100vw;
  position: relative;
  left: calc(-1 * (100vw - 100%) / 2);
}
/* set react tooltip bg opacity */
.tooltip.show {
  opacity: 1;
}
@media (max-width: 1200px) {
  /* set width to 100% on mobile */
  .btn {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}
