/* CSS module for reusable global classes */

.pinkBorder {
  border: 1px var(--brand-pink) solid;
}
.yellowBorder {
  border: 1px var(--brand-yellow) solid;
}
.fontYellow {
  color: var(--brand-yellow) !important;
}
.fontPink {
  color: var(--brand-pink) !important;
}
