.propCards {
  display: flex;
  padding-top: 16px;
}

@media (max-width: 767px) {
  .cardsContainer {
    max-width: none;
    padding: 32px 40px;
  }
  .propCards {
    padding-top: 0px;
  }
  .stickyContainer {
    padding: 12px 0px;
  }
  .stickyContainer .container {
    max-width: none !important;
  }
}

@media (max-width: 575px) {
}

.stickyContainer {
  background: white;
  top: 0;
  position: sticky !important;
  z-index: 1;
  padding-top: 12px;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.05) !important;
}
