.bottomContainer {
  border-top: 1px var(--brand-gray-transparent) solid;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.5rem;
  padding-top: 1rem;
  cursor: default;
}
.votesCopyContainer {
  display: flex;
  flex-direction: column;
}

.yourVotesCopy {
  font-weight: bold;
  font-size: small;
  color: var(--brand-black);
}

.votesButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.votesAllotedDisplay {
  background-color: white;
  color: var(--brand-gray);
  border: 1px var(--brand-gray-semi-transparent) solid;
  border-radius: 15px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.voteBtn {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}
