.bottomContainer {
  /* border-top: 1px var(--brand-gray-transparent) solid; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* margin-top: 1.5rem; */
  /* padding-top: 1rem; */
  cursor: default;
  font-size: 14px;
}
.votesCopyContainer {
  display: flex;
  flex-direction: column;
}

.yourVotesCopy {
  font-weight: bold;
  font-size: small;
  color: var(--brand-black);
}

.votesModuleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: var(--brand-gray);
  /* border: 1px var(--brand-gray-semi-transparent) solid; */
  border-radius: 10px;
  outline: 1px var(--brand-purple-hint) solid;
  /* padding: 0px 6px; */
}

.disabledVote {
  background: var(--brand-purple-hint);
  color: var(--brand-purple-semi-transparent);
}

.votesAllottedDisplay {
  /* background-color: white;
  color: var(--brand-gray);
  border: 1px var(--brand-gray-semi-transparent) solid;
  border-radius: 15px; */
  /* width: 2.5rem;
  height: 2.5rem;
  width: 12px;
  height: 12px; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin: 0 0.3rem; */
  /* padding: 0px 6px; */
  min-width: 20px;
  color: var(--brand-purple);
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

.voteBtn {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 2.5rem;
  height: 2.5rem;
  width: 12px;
  height: 12px; */
  width: 24px;
  height: 24px;
  font-family: system-ui;
  padding: 0px 6px 0px 6px;
  border-radius: 10px;
  /* border: 1px solid blue; */
}
.voteBtn:focus,
.voteBtn:focus-visible,
.voteBtn:active {
  box-shadow: none !important;
  /* background-color: none !important; */
  outline: none !important;
}
