.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}
.subtitle {
  font-weight: 500;
  font-size: 12px !important;
  line-height: 14px;
  color: var(--brand-gray);
  margin-top: 4px;
}
.strategy {
  display: flex;
  gap: 12px;
}
.sections {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section {
  margin-bottom: 1rem;
  width: 100%;
}
.strategy .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  margin-bottom: 4px;
}
.strategy .subtitle {
  font-size: 10px;
  margin-bottom: 0;
}
.strategy input {
  align-self: flex-start;
}
.strategy input:hover {
  cursor: pointer;
}
.strategy input[type='checkbox'] {
  width: 18px;
  height: 18px;
}
.strategy input[type='checkbox']:checked {
  accent-color: var(--brand-pink);
}
.strategy input[type='number'],
.strategy input[type='text'] {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 2px 4px;
  font-weight: 500;
  width: 100%;
  border: 1px solid var(--border-med);
}
.strategy input[type='text'] {
  padding: 2px 8px;
}
.strategy input[type='number']:active,
.strategy input[type='number']:focus:focus-visible {
  outline: none;
  border: 1px solid var(--border-dark) !important;
}
.strategy input[type='number']::placeholder {
  color: var(--brand-black-semi-transparent);
}

/* Chrome, Safari, Edge, Opera */
.strategy input[type='number']::-webkit-outer-spin-button,
.strategy input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.strategy input[type='number'] {
  -moz-appearance: textfield;
}

.divider {
  margin: 18px 0px;
}
.multiplierAmount {
  color: var(--brand-black);
  font-weight: 700;
}
.multiplierInputAndBtns {
  display: flex;
  gap: 5px;
  margin-top: 5px;
}
.multiplierInput {
  width: 40px !important;
  height: 40px !important;
  text-align: center;
  font-weight: 700 !important;
}
.multiplierBtns {
  display: flex;
  gap: 2px;
}
.arrowBtn {
  width: 40px !important;
  height: 40px !important;
  min-width: 40px !important;
  min-height: 40px !important;
}

.arrowBtn:focus,
.arrowBtn:focus-visible,
.arrowBtn:active {
  box-shadow: none !important;
  outline: none !important;
}
