.cardsContainer {
  width: 75%;
  margin: auto;
}
.house {
  align-items: center;
  justify-content: space-between;
}
.house p {
  color: var(--brand-gray) !important;
}
.house img {
  width: 24px;
  height: 24px;
  border-radius: 4px;
}
.title {
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
}
.description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: var(--brand-gray);
}
@media (max-width: 768px) {
  .cardsContainer {
    width: 100%;
  }
}
