.faqBackground {
  padding-top: 15px;
}

.title {
  margin: 4rem 0;
  font-weight: 700;
  font-size: 28px;
  line-height: 34px;
  text-align: center;
}

.accordionItem {
  border: none;
  margin: 2rem 0rem;
  background-color: transparent;
}

.accordionItem > * a {
  color: var(--brand-pink) !important;
}

.accordion button:hover {
  color: var(--brand-pink) !important;
  font-weight: bold !important;
}

.accordion button {
  font-size: 1.5rem !important;
  border: none !important;
  font-weight: bold;
  cursor: pointer;
  line-height: normal;
  padding: 0;
}

.accordion > * button:not(.collapsed),
.accordion > * button:focus {
  color: #212529;
  background-color: transparent;
  box-shadow: none !important;
}

/* override bootstrap color */
.accordion button:not(.collapsed)::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e") !important;
}
.searchWrapper {
  margin-top: -40px;
}

@media (max-width: 1200px) {
  .title {
    margin: 0.5rem 0rem 1.5rem 0rem;
  }
  .searchWrapper {
    margin-top: 0px;
  }
}

@media (max-width: 767px) {
  .faqBackground {
    padding-top: 35px;
  }
}
