.votingBtn {
  all: unset;
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--brand-gray);
  font-size: 14px;
  font-weight: bold;
  border-radius: 8px;
  padding: 0 8px;
  border: 1px solid var(--border-light);
}
.votingBtn:hover {
  opacity: 0.7;
}

.votingBtn.up {
  background-color: var(--brand-green);
  border: var(--brand-green);
  color: white;
}
.votingBtn.down {
  background-color: var(--bg-dark);
  border: 1px solid var(--border-dark);
  color: var(--brand-black);
}
