.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}
.nameAndButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  line-height: 19px;
  margin-bottom: 5px;
}
.nameAndButton button {
  background: #ffffff;
  color: var(--brand-gray-transparent);
  border: 1px solid var(--border-dark);
  border-radius: 4px;
  padding: 0px 7px 1px;
  line-height: 15px;
}
.nameAndButton svg {
  margin-right: 3px;
}
.nameAndButton span {
  font-weight: 700;
  font-size: 12px;
  text-align: right;
  letter-spacing: 0.02em;
}

textarea:active,
textarea:focus:focus-visible {
  outline: none;
  border: 1px solid var(--border-dark) !important;
}

textarea::placeholder {
  color: var(--brand-black-semi-transparent);
}

textarea {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 2px 8px;
  font-weight: 500;
  width: 100%;
  border: 1px solid var(--border-med);
}
