.roundCard {
  min-height: 10rem;
  height: 10rem;
  max-height: 10rem;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  row-gap: 20px;
}
.title {
  font-size: 22px;
  font-weight: bold;
}

.creatorAndAwardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.roundCreator {
  font-size: 16px;
  font-weight: bold;
}
