.roundCard {
  min-height: 10rem;
  height: 10rem;
  max-height: 10rem;
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  row-gap: 12px;
}

.roundCreator {
  font-size: 16px;
  font-weight: bold;
  color: var(--brand-gray);
}

.roundTitle {
  font-size: 22px;
  font-weight: bold;
}

.awardsModalContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.awardsModalContentContainer .place {
  font-weight: bold;
}
.awardsModalContentContainer .amountAndSymbol {
  font-weight: bold;
  color: var(--brand-gray);
}
