.housesContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 12px;
}

.houseAddress {
  font-weight: bold;
  font-size: 16px;
}

.tabs li button {
  font-weight: bold;
  color: var(--brand-gray);
  transition: none !important;
}
.tabs li button[aria-selected='true'] {
  font-weight: bold;
  border: none !important;
  border-bottom: 2px solid var(--brand-pink) !important;
  background-color: transparent !important;
}
