.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 2rem;
  margin: -8px 1rem 1rem 1rem;
  border: 1px solid var(--border-med);
  border-top: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: rgb(255, 255, 255, 0);
  font-size: 14px;
  font-weight: bold;
  color: var(--brand-gray);
}

.reply {
  cursor: pointer;
}
