.wrapper {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border: 1px #00000025 solid;
  border-radius: 20px;
  padding: 2.5rem;
  color: var(--brand-black);
  margin: 1rem 0;
}
.leftSectionTitle {
  font-size: 35px;
  font-weight: bold;
}
.leftSectionSubtitle {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.4;
}

.rightSection {
  display: flex;
}

.rightSectionTitle {
  font-size: 20px;
  font-weight: bold;
  opacity: 0.4;
}

.rightSectionSubtitle {
  font-size: 32px !important;
  font-weight: bold;
}

.rightSection div {
  text-align: right;
}
.rightSection div:nth-child(2) {
  border-left: 1px solid rgba(0, 0, 0, 0.178);
  padding-left: 2rem;
  margin-left: 2rem;
}
