.propCards {
  display: flex;
  padding-top: 16px;
}
.sidebarContainerCard {
  background: #f5f5f5;
  border: 1px solid var(--border-med);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}

.sidebarContainerCard button {
  width: 100%;
  border-radius: 50px;
  margin-top: 18px;
}
.userPropCard {
  border: 1px solid var(--border-med);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
}
.userPropTitle {
  /* color: white; */
  font-weight: 700;
  font-size: 18px;
}
.userPropInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.userPropItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
.userPropNounImg {
  display: flex;
  align-items: center;
}
.userPropText {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
  color: var(--brand-black);
  font-size: 14px;
}
.userPropTextValue {
  color: var(--brand-gray);
}
.votingBar {
  border-radius: 50px;
  margin: 12px 0px;
  background: var(--brand-purple-hint);
}

.sideCardHeader {
  font-weight: 700;
  display: flex;
  gap: 16px;
  align-items: center;
}
.icon {
  width: 44px;
  height: 44px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.greenIcon {
  background: var(--brand-green-hint);
  border: 1px solid var(--brand-green-semi-transparent);
}
.purpleIcon {
  background: var(--brand-purple-hint);
  border: 1px solid var(--brand-purple-semi-transparent);
}
.blackIcon {
  border: 1px solid var(--border-med);
}

.sideCardHeader svg {
  width: 24px;
  height: 24px;
}
.greenIcon svg {
  color: var(--brand-green);
}
.purpleIcon svg {
  color: var(--brand-purple);
}

.title {
  font-size: 18px;
  margin-bottom: 0;
}
.subtitle {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--brand-gray);
}
.purpleText {
  color: var(--brand-purple);
}
.winnersText {
  font-weight: 700;
  color: var(--brand-gray);
  font-size: 14px;
}
.greenText {
  color: var(--brand-green);
}
.divider {
  margin: 18px 0px;
}

.sideCardBody {
  font-size: 14px;
  margin-bottom: 0;
}
.bulletList {
  color: var(--brand-gray);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 8px;
}
.bulletList b {
  color: var(--brand-black);
}

.bulletItem {
  display: flex;
  gap: 18px;
}
.bulletItem p {
  margin-bottom: 0;
}
.bullet {
  color: var(--brand-gray-semi-transparent);
  border-radius: 50px;
  min-width: 18px !important;
  height: 2px !important;
  margin: 0;
  margin-top: 10px;
}

.votingInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.totalVotes {
  color: var(--brand-gray);
}
