.modal {
  font-family: 'PT Root UI', sans-serif;
  font-weight: bold;
  position: fixed;
  top: 30vh;
  left: 10%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  background: #ffffff;
  border: var(--border-light);
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.08), 0px 6px 24px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 18px;
  min-width: 420px;
  min-height: 200px;
  left: calc(50% - 17.5rem);
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 420px;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding-bottom: 8px;
}

.headerContainer {
  padding-bottom: 1rem;
  border-bottom: 1px var(--bg-dark) solid;
}

.propTitle {
  font-size: 22px;
  font-weight: bold;
  color: var(--brand-black);
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-height: 1; /* fallback */
  max-height: 2; /* fallback */
}

.votesSubtitle {
  font-size: 14px;
  font-weight: 700;
  color: var(--brand-gray);
}

.divider {
  margin: 12px 0px 0px 0px;
}

.votesContainer {
  max-height: 20rem;
  overflow-y: auto;
  border-bottom: 1px var(--bg-dark) solid;
}
.votesRow {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 0;
  border-bottom: 1px var(--bg-dark) solid;
}
.voteRowTitle {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  color: var(--brand-black);
  margin-bottom: 0.3rem;
}
.voteRowTitle span {
  font-size: 16px;
  margin-left: 4px;
}

.verifyVoteBtn {
  font-size: 14px;
  font-weight: bold;
  color: var(--brand-black);
  background-color: var(--bg-light);
  border-color: var(--border-med);
  padding: 8px 12px;
  border-width: 1px;
  border-radius: 10px;
  width: 32%;
}
.verifyVoteBtn:hover {
  opacity: 0.75;
}

.verifyVoteBtn:disabled {
  opacity: 0.75;
}

.buttonContainer {
  display: flex;
  gap: 8px;
}
.buttonContainer button {
  width: 100%;
  border-radius: 50px;
  margin-top: 12px;
}
.modal:focus-within {
  outline: none !important;
}

.modal .closeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 0 none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding-top: 2px;
}

@media (max-width: 992px) {
  .modal {
    top: auto;
    bottom: 0;
    width: 100%;
    max-height: 100%;
  }
}

@media (max-width: 450px) {
  .modal {
    width: 90%;
    min-width: 300px;
  }
}
