.auctionHeader {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  border-bottom: 0 !important;
  box-shadow: 0 4px 2px -2px rgb(33 33 33 / 10%) !important;
}

.customCardHeader {
  margin-top: 0 !important;
  border-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}

.dividerSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.3);
  margin: 0.2rem 0;
}
.proposalTitle {
  color: rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 450;
}
.dividerSection span {
  margin-left: 0.5rem;
}
.dividerSection span:hover {
  cursor: pointer;
}

.alertWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.alertWrapper p,
.alertWrapper button {
  margin: 0;
}
.connectedCopy {
  color: var(--brand-gray);
  font-weight: 500;
}

.noPropCard {
  font-size: 14px;
  color: var(--brand-black-tansparent);
  text-align: center;
}

@media (max-width: 992px) {
  .alertWrapper {
    flex-direction: column;
  }
  .alertWrapper button {
    margin-top: 1rem;
  }
}
