.cardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 12px;
  margin-top: 14px;
}

@media (max-width: 990px) {
  .cardGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 675px) {
  .cardGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}
