.notConnectedContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.notConnectedContainer p {
  margin-top: 2rem;
  font-size: 20px;
}
.notConnectedContainer button {
  margin: 1rem 0;
}
