.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}
.subtitle {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--brand-gray);
  margin-top: 4px;
}
.strategy {
  display: flex;
  gap: 12px;
}

.section {
  margin-bottom: 1rem;
  width: 100%;
}
.strategy .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  margin-bottom: 4px;
}
.strategy .subtitle {
  margin-bottom: 0;
}
.strategy input {
  align-self: flex-start;
}
.strategy input:hover {
  cursor: pointer;
}
.strategy input[type='checkbox'] {
  width: 18px;
  height: 18px;
}
.strategy input[type='checkbox']:checked {
  accent-color: var(--brand-pink);
}
