.statsContainer {
  display: flex;
  justify-content: space-between;
  width: 450px;
  margin: auto;
  padding: 46px 10px;
}
.stat {
  text-align: center;
  margin: 0 !important;
  width: 33%;
}
.amount {
  font-weight: 700;
  margin: 0 !important;
  font-size: 44px !important;
  line-height: normal;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
}
.stat:first-of-type .amount {
  background: linear-gradient(92.55deg, #8a2be2 0%, #571494 419.13%);
  background-clip: text;
}
.stat:nth-of-type(2) .amount {
  background: linear-gradient(87.64deg, #8a2be2 -201.06%, #571494 284.63%);
  background-clip: text;
}

.stat:nth-of-type(3) .amount {
  background: linear-gradient(72.06deg, #8a2be2 -429.74%, #571494 78.37%);
  background-clip: text;
}

.subtitle {
  font-weight: 500;
  font-size: 14px !important;
  color: var(--brand-black);
  margin: 0 !important;
}

@media (max-width: 575px) {
  .subtitle {
    line-height: 1;
  }
}

@media (max-width: 375px) {
  .statsContainer {
    flex-wrap: wrap;
  }
  .stat:first-child {
    min-width: 100%;
    padding-bottom: 10px;
  }
  .stat:not(:first-child) {
    width: 50%;
  }
}
