.row {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.row h2 {
  font-size: 40px;
  font-weight: 700;
}
.row p {
  font-size: 18px;
}

.rightCol {
  display: flex;
  justify-content: flex-end;
}
.leftCol {
  display: flex;
  justify-content: flex-start;
}
.img {
  height: 100%;
  width: auto;
}

.cardCTA {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1200px) {
  .breakOutMobile {
    width: initial !important;
    position: initial !important;
    left: initial !important;
  }
  .leftCol,
  .rightCol {
    justify-content: center;
  }
}
@media (min-width: 1600px) {
  .breakOutMobile {
    width: initial !important;
    position: initial !important;
    left: initial !important;
  }
}
