.roundCard {
  min-height: 10rem;
  height: 10rem;
  max-height: 12rem;
  position: relative;
  z-index: 1;
  border: 1px solid var(--border-med);
}
.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.roundCreator {
  font-size: 16px;
  font-weight: bold;
  color: var(--brand-gray);
}

.roundTitle {
  font-size: 22px;
  font-weight: bold;
  line-height: 115%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.headerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.roundCreatorAndTitle {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.awardsModalContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.awardsModalContentContainer .place {
  font-weight: bold;
}
.awardsModalContentContainer .amountAndSymbol {
  font-weight: bold;
  color: var(--brand-gray);
}
