.proposalCard {
  display: flex;
  flex-direction: column;
  will-change: background-color, filter;
  transition: background-color var(--card-transition), filter var(--card-transition);
  filter: drop-shadow(var(--shadow-low));
  border: 1px solid var(--border-med);
  margin: 1.5rem 0;
}

.proposalCard:hover {
  cursor: pointer;
  filter: drop-shadow(var(--shadow-high));
}

.proposalCard:active {
  filter: drop-shadow(var(--shadow-none));
}

.propCopy {
  font-size: small;
  color: var(--brand-black-transparent);
}

.divider {
  margin: 12px 0px 8px 0px;
  background-color: var(--border-dark);
}

.authorContainer {
  font-size: 18px;
  font-weight: bold;
  color: var(--brand-black);
  display: flex;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-word;
}

.authorContainer span {
  font-weight: normal;
  color: var(--brand-black-transparent);
  display: inline;
}
.crownNoun {
  display: flex;
}
.crownNoun img {
  height: 14px;
}

.date {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
}

.title {
  font-size: 22px;
  line-height: 140%;
  font-weight: bold;
  color: var(--brand-black);
  margin-bottom: 0.8rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /* number of lines to show */
  line-height: X;
  /* fallback */
  max-height: X * N;
  /* fallback */
}
.tooltipTitle {
  cursor: help;
}
.timestampAndlinkContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5px;
}

.timestamp {
  font-size: 15px;
  color: var(--brand-gray);
  font-weight: 600;
  align-self: flex-start;
}

.voteCountCopy {
  font-size: 16px;
  font-weight: bold !important;
  color: var(--brand-gray);
  display: flex;
}

.votingArrows {
  display: flex;
  align-items: center;
}
.plusArrow {
  padding: 0px 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--brand-gray-transparent);
}
.truncatedTldr {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  color: #666666;
  word-break: break-word;
}
.truncatedTldr p {
  margin-bottom: 0;
}
.avatarAndPropNumber {
  display: flex;
  align-items: center;
  gap: 5px;
  width: max-content;
  justify-content: flex-end;
  height: 24px;
}
.textContainter {
  gap: 8px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.address {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 4px;
  color: var(--brand-gray);
  width: 50%;
}

.bullet {
  color: var(--brand-gray-transparent);
  font-size: 14px;
}

.winner {
  border: 1px solid var(--brand-green-semi-transparent) !important;
}
.winner .authorContainer {
  color: var(--brand-green);
}
.hideDate {
  font-size: 14px;
}

@media (max-width: 767px) {
  .hideDate {
    display: none;
  }
}

@media (max-width: 575px) {
  .address {
    width: max-content;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    overflow: hidden;
  }
  .date {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.hideVoteModule {
  display: none;
}
