.proposalCard {
  min-height: 15rem;
  display: flex;
  flex-direction: column;
}
.proposalCardVoting {
  min-height: 20rem;
}

.propCopy {
  font-size: small;
  color: var(--brand-black-tansparent);
}

.authorContainer {
  font-size: 16px;
  font-weight: bold;
  color: var(--brand-black);
  margin-bottom: 0.8rem;
  display: flex;
}
.authorContainer span {
  margin-left: 0.3rem;
  font-weight: normal;
  color: var(--brand-black-tansparent);
  display: inline;
}

.title {
  font-size: 18px;
  line-height: 140%;
  font-weight: bold;
  color: var(--brand-black);
  margin-bottom: 0.8rem;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* number of lines to show */
  line-height: X; /* fallback */
  max-height: X * N; /* fallback */
}

.timestampAndlinkContainer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.timestamp {
  font-size: 16px;
  color: var(--brand-black-tansparent);
}

.readMore a {
  color: var(--brand-pink);
  text-decoration: none;
}

.bottomContainer {
  border-top: 1px var(--brand-gray-transparent) solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  padding-top: 1rem;
}

.votesCopyContainer {
  display: flex;
  flex-direction: column;
}

.yourVotesCopy {
  font-weight: bold;
  font-size: small;
  color: var(--brand-black);
}

.scoreCopy {
  font-weight: bold;
  font-size: small;
  color: var(--brand-gray);
}

.noVotesLeft {
  color: var(--brand-gray-semi-transparent);
}

.votesButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}
.votesAllotedDisplay {
  background-color: white;
  color: var(--brand-gray);
  border: 1px var(--brand-gray-semi-transparent) solid;
  border-radius: 15px;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.voteBtn {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}
