.btn {
  border-radius: 10px;
  padding: 0.575rem 0.65rem 0.525rem;
  padding: 6px 12px !important;
  white-space: normal;
  text-align: center;
  font-size: 16px !important;
  font-weight: bold;
  line-height: 140%;
}

.btn div {
  margin: auto;
}
.btn:disabled {
  background-color: var(--brand-gray);
}

/* PINK BG */

.btnPinkBg {
  background-color: var(--brand-pink);
  border: none;
}
.btnPinkBg:hover {
  background-color: var(--brand-pink-semi-transparent);
}
.btnPinkBg:active,
.btnPinkBg:focus {
  background-color: var(--brand-pink-semi-transparent);
  box-shadow: 0 0 0 0.25rem var(--brand-pink-transparent) !important;
}

/* PURPLE BG */

.btnPurpleBg {
  background-color: var(--brand-purple);
  border: none;
}
.btnPurpleBg:active,
.btnPurpleBg:focus,
.btnPurpleBg:hover {
  background-color: var(--brand-purple-transparent) !important;
  box-shadow: none !important;
}

/* PURPLE LIGHT BG */

.btnPurpleLightBg {
  background-color: var(--brand-purple-hint);
  color: var(--brand-purple);
  border: none;
}
.btnPurpleLightBg:hover {
  background-color: var(--brand-purple-semi-transparent);
  background-color: var(--brand-purple-hint);
  color: var(--brand-purple);
}
.btnPurpleLightBg:active,
.btnPurpleLightBg:focus {
  background-color: var(--brand-purple-hint);
  color: var(--brand-purple);
}

/* WHITE BG */

.btnWhiteBg {
  background-color: white;
  color: black;
  border-color: rgba(0, 0, 0, 0.1);
}

.btnWhiteBg:hover {
  color: gray;
  background-color: white !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.btnWhiteBg:active,
.btnWhiteBg:focus {
  color: gray !important;
  background-color: var(--brand-gray-semi-transparent);
  box-shadow: 0 0 0 0.25rem var(--brand-gray-transparent) !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.btnWhiteBg:disabled {
  background-color: white;
  color: var(--brand-gray-transparent);
  border: 1px solid var(--border-med);
}

/* YELLOW BG */

.btnYellowBg {
  color: white;
  background-color: var(--brand-yellow);
  border-color: var(--brand-yellow);
  opacity: 1;
}
.btnYellowBg:disabled {
  border-color: var(--brand-gray);
  background-color: var(--brand-gray);
}

.btnYellowBg:hover {
  color: white;
  background-color: var(--brand-yellow-transparent) !important;
  border-color: var(--brand-yellow-transparent) !important;
}
.btnYellowBg:active,
.btnYellowBg:focus {
  color: gray !important;
  background-color: var(--brand-yellow-transparent);
  box-shadow: 0 0 0 0.25rem var(--brand-gray-transparent) !important;
  border-color: var(--brand-yellow-transparent) !important;
}

/* WHITE-YELLOW BG */

.btnWhiteYellowBg {
  color: var(--brand-yellow);
  background-color: white;
  border-color: var(--brand-yellow);
}

.btnWhiteYellowBg:hover {
  color: white;
  background-color: var(--brand-yellow-transparent) !important;
  border-color: var(--brand-yellow-transparent) !important;
}
.btnWhiteYellowBg:active,
.btnWhiteYellowBg:focus {
  color: gray !important;
  background-color: var(--brand-yellow-transparent);
  box-shadow: 0 0 0 0.25rem var(--brand-gray-transparent) !important;
  border-color: var(--brand-yellow-transparent) !important;
}

/* GREEN BG */

.btnGreenBg {
  background-color: var(--brand-green) !important;
  border: none;
  color: white;
}
.btnGreenBg:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: var(--brand-green-semi-transparent) !important;
}
.btnGreenBg:active,
.btnGreenBg:focus {
  background-color: var(--brand-green-semi-transparent);
  box-shadow: 0 0 0 0.25rem var(--brand-green-semi-transparent) !important;
}

/* RED BG */

.btnRedBg {
  background-color: var(--brand-red-hint) !important;
  color: var(--brand-red) !important;
  border: none;
}
.btnRedBg:hover {
  color: rgba(255, 255, 255, 0.8) !important;
  background-color: var(--brand-red-semi-transparent) !important;
}
.btnRedBg:active,
.btnRedBg:focus {
  background-color: var(--brand-red-semi-transparent);
  box-shadow: 0 0 0 0.25rem var(--brand-red-semi-transparent) !important;
}

/* Black BG */

.btnBlackBg {
  background: var(--brand-black) !important;
  border: 1px solid var(--brand-black);
  color: white;
}

.btnBlackBg:hover {
  opacity: 0.8;
}

.btnBlackBg:active,
.btnBlackBg:focus {
  color: white;
}

.btnBlackBg:disabled {
  color: var(--brand-black-semi-transparent);
}

/* GRAY BG */

.btnGrayBg {
  background: var(--brand-gray-hint) !important;
  border: none;
  color: var(--brand-gray);
}

.btnGrayBg:hover {
  color: var(--bg-light);
}

.btnGrayBg:active,
.btnGrayBg:focus {
  color: var(--bg-light);
}

.btnGrayBg:disabled {
  color: var(--brand-gray-transparent);
  background: var(--brand-gray-hint) !important;
}
