.imageLinkInfo {
  padding-bottom: 20px;
}

.modal {
  font-family: 'PT Root UI', sans-serif;
  font-weight: bold;
  position: fixed;
  top: 30vh;
  left: 10%;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);

  /* 
   */
  background: #ffffff;

  border: var(--border-light);
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.08), 0px 6px 24px rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  padding: 18px;
  /* 
    */
  min-width: 420px;
  min-height: 200px;
  left: calc(50% - 17.5rem);
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  max-width: 420px;
}
.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  padding-bottom: 8px;
}

.imgContainer {
  text-align: center;
  padding: 35px 0px 25px 0px;
}
.imgContainer img {
  margin-right: 20px;
}

.titleContainer {
  text-align: center;
}
.titleContainer p {
  margin-bottom: 0;
}
.modalTitle {
  font-weight: 700;
  font-size: 22px;
}
.modalSubtitle {
  font-weight: 500;
  font-size: 16px;
}

.divider {
  margin: 12px 0px 0px 0px;
}

.modal button {
  width: 100%;
  border-radius: 50px;
  margin-top: 18px;
}

.buttonContainer {
  display: flex;
  gap: 8px;
}

.modal:focus-within {
  outline: none !important;
}
.modal h3 {
  font-size: xx-large;
  font-weight: bold;
}
.modal .closeButton {
  position: absolute;
  top: 2rem;
  right: 2rem;
  border: 0 none;
  background-color: transparent;
  width: 40px;
  height: 40px;
  padding-top: 2px;
}

@media (max-width: 992px) {
  .modal {
    top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
