.container {
  display: flex;
  background: var(--bg-med);
  border: 1px solid var(--border-light);
  border-radius: 8px;
  gap: 16px;
}
.section {
  flex: 1;
}
.section:hover {
  cursor: pointer;
}
@media (max-width: 500px) {
  .container {
    flex-direction: column;
    gap: 6px;
  }
}
