.wrapper {
  display: flex;
}
.wrapper div {
  padding: 0.5rem 0.25rem;
}

.btn {
  margin: 0 0 0 1rem !important;
}

@media (max-width: 992px) {
  .wrapper {
    gap: 5px;
  }
  .wrapper div {
    padding: 0.5rem 0rem;
    padding-left: 0;
  }
  .btn {
    margin-left: 0 !important;
  }
}
.connectBtn {
  min-width: 85px !important;
}
