.wrapper {
  display: flex;
}
.wrapper div {
  padding: 0.5rem 0.25rem;
}

.btn {
  margin: 0 0 0 1rem !important;
}

@media (max-width: 992px) {
  .wrapper {
    gap: 5px;
  }
  .wrapper div {
    padding: 0.5rem 0rem;
    padding-left: 0;
  }
  .btn {
    margin-left: 0 !important;
  }
}
.disconnect {
  display: flex;
  width: 100%;
}
.disconnectButton {
  cursor: pointer !important;
}

@media (max-width: 992px) {
  .disconnect {
    flex-direction: column;
  }
  .disconnectButton {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    text-align: center;
  }
}

.connectBtn {
  min-width: 85px !important;
  margin-left: 0 !important;
}
