.sidebarContainerCard {
  border: 1px solid var(--border-med);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}

.userPropCard {
  border: 1px solid var(--border-med);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
}
.userPropTitle {
  font-weight: 700;
  font-size: 18px;
}
.userPropInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
}
.userPropItem {
  display: flex;
  align-items: center;
  gap: 8px;
}
.userPropNounImg {
  display: flex;
  align-items: center;
  max-width: 24px;
}
.userPropNounImg img {
  width: 100%;
}
.userPropText {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: 700;
  color: var(--brand-black);
  font-size: 14px;
}
.userPropTextValue {
  color: var(--brand-gray);
}

.sideCardHeader {
  font-weight: 700;
  display: flex;
  gap: 16px;
  align-items: center;
}

.subtitle {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--brand-gray);
}
.title {
  font-size: 18px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.divider {
  margin: 12px 0px;
}

.viewProposal {
  color: var(--brand-gray);
  margin-bottom: 0;
  font-weight: 700;
  cursor: pointer;
  width: min-content;
}

/* Bullets */
.sideCardBody {
  font-size: 14px;
  margin-bottom: 0;
}
.sideCardBody b {
  color: var(--brand-purple);
}
.bulletList {
  color: var(--brand-gray);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 8px;
}
.bulletList b {
  color: var(--brand-black);
}
.bulletItem {
  display: flex;
  gap: 18px;
}
.bulletItem p {
  margin-bottom: 0;
}
.bullet {
  color: var(--brand-gray-semi-transparent);
  border-radius: 50px;
  min-width: 18px !important;
  height: 2px !important;
  margin: 0;
  margin-top: 10px;
}

/* votes */

.votesModuleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: white; */
  color: var(--brand-gray);
  gap: 2px;
  /* border: 1px var(--brand-gray-semi-transparent) solid; */
  /* border-radius: 10px; */
  /* outline: 1px var(--brand-purple-hint) solid; */
  /* padding: 0px 6px; */
}
.textContainer {
  width: 100%;
}
.titleAndVoteBtns {
  display: flex;
  justify-content: space-between;
}
.voteBtn {
  margin: 0 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 2.5rem;
  height: 2.5rem;
  width: 12px;
  height: 12px; */
  width: 24px;
  height: 24px;
  font-family: system-ui;
  padding: 0px 6px 0px 6px;
  border-radius: 10px;
  /* border: 1px solid blue; */
}
.voteBtn:focus,
.voteBtn:focus-visible,
.voteBtn:active {
  box-shadow: none !important;
  /* background-color: none !important; */
  outline: none !important;
}
