.awardsAndNavigationContainer {
  display: flex;
  flex-direction: column;
}

.navContainer {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.awardsNavControl {
  margin-left: 6px;
  background-color: white;
  color: var(--brand-gray);
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px var(--border-dark) solid;
}
.awardsNavControl:hover {
  opacity: 0.75;
  cursor: pointer;
}
.awardsNavControl:disabled {
  background-color: var(--bg-dark);
}

.awardDisplayContainer {
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 12px;
  row-gap: 20px;
  height: 200px;
  width: 280px;
}

.awardDisplay {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 88px;
  height: 88px;
  background-color: white;
  border: 1px var(--border-light) solid;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.awardDisplay .placeIndicator {
  z-index: 2;
  position: absolute;
  top: -15px;
  right: -12px;
  background-color: var(--bg-dark);
  height: 27px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 13.5px;
  border: 1px var(--border-dark) solid;
  font-size: 12px;
  font-weight: bold;
  color: var(--brand-gray);
}
.awardDisplayPadding {
  padding: 12px 0;
}

.awardDisplay img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  border-radius: 8px;
}

.awardDisplay .amountAndSymbolLabel {
  margin-top: 12px;
  font-size: 12px;
  font-weight: bold;
  color: var(--brand-gray);
}
