.card {
  border: 1px rgba(0, 0, 0, 0.1) solid;
  padding: 1.5rem;
  margin: 1rem 0;
  transition: box-shadow 0.3s;
}
a {
  text-decoration: none !important;
  color: inherit !important;
}
.lightPurpleBg {
  background-color: #f4f2f6;
}
.darkPurpleBg {
  background-color: #ece8f0;
}
.whiteBg {
  background-color: white;
}

.borderRadius20 {
  border-radius: 20px;
}
.borderRadius30 {
  border-radius: 30px;
}

.onHoverEffect:hover {
  box-shadow: 0 0 5px rgba(33, 33, 33, 0.2);
}
