.linksCol {
  display: flex;
  font-weight: bold;
  margin-bottom: 2rem;
}

.linksCol span:first-child {
  color: var(--brand-gray-transparent);
  cursor: pointer;
}

.linksCol span:nth-child(2) {
  margin-left: 8px;
  color: var(--brand-black);
}
.headerCol {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.headerCol .leftCol {
  display: flex;
  gap: 20px;
}
.houseImg {
  border-radius: 12px;
  height: 100px;
  width: 100px;
}
.roundName {
  font-size: 26px;
  font-weight: 550;
}
.roundAddress {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1rem;
  padding: 8px 16px;
  border-radius: 24px;
  border: 2px var(--border-med) solid;
  color: var(--brand-gray);
  font-weight: bold;
  width: fit-content;
}
.roundAddress:hover {
  background-color: var(--border-med) !important;
  cursor: pointer;
}
.roundAddress svg {
  margin-left: 12px;
}

.tabs {
  border-bottom: none;
  justify-content: start;
  border-bottom: 1px solid var(--brand-gray-semi-transparent);
  margin-bottom: 1rem;
}
.tabs li button {
  font-size: 18px;
  font-weight: 500;
  color: var(--brand-gray-transparent);
  transition: none !important;
  border: none !important;
  font-weight: bold !important;
}
.tabs li button:hover {
  border: none !important;
  color: var(--brand-gray-semi-transparent);
}
.tabs li button[aria-selected='true'] {
  border: none !important;

  color: var(--brand-black) !important;

  background-color: transparent !important;
}
@media (max-width: 990px) {
  .headerCol {
    flex-direction: column;
  }
  .headerCol button {
    margin-top: 1rem;
    width: 100%;
  }
}
