.containerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content {
  display: flex;
  flex-direction: column;
}
.content h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--brand-black);
}
.content p {
  color: var(--brand-gray);
}
.btnContainer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 30%;
  margin: 0;
  margin-left: 1rem;
}
@media (max-width: 996px) {
  .containerCard {
    display: block;
  }
  .btnContainer {
    width: 100%;
    margin-left: 0;
  }
}
