@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 992px !important;
  }
}

:root {
  --brand-pink: #e02ecf;
  --brand-black: #14161b;
  --brand-light-gray: #00000060;
}
