.infoContainer {
  width: 100%;
  padding: 0px 6px;
}

.title {
  margin-top: 12px;
  font-weight: bold;
  font-size: 16px;
  line-height: normal;
  text-align: left;
  align-self: flex-start;
  padding: 0px 6px;
}
.cardInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.divider {
  margin: 8px 0px 8px 0px;
  background-color: var(--border-dark);
}

.infoText {
  font-size: 14px;
  color: var(--brand-black-transparent);
  font-weight: 700;
}
.infoWithSymbol {
  display: flex;
  align-items: center;
  gap: 4px;
}
.symbolContainer {
  display: flex;
}
.symbolContainer img {
  height: 12px;
  border-radius: 6px;
  box-shadow: var(--shadow-high);
  align-self: center;
}

.infoAmount {
  color: var(--brand-black);
}

.container {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px 12px 16px;
  border: 1px solid var(--border-light);
  border-radius: 24px;
  background: #f5f5f5;
  filter: drop-shadow(var(--shadow-none));
  will-change: background-color, filter;
  transition: background-color var(--card-transition), filter var(--card-transition);
}
.container a {
  width: 100%;
  min-width: 100%;
}
.container a img {
  width: 212px;
  height: 212px;
  object-fit: cover;
}

.container:hover {
  background-color: var(--bg-light);
  filter: drop-shadow(var(--shadow-low));
  border: 1px solid var(--border-med);
  cursor: pointer;
}
.container:hover img {
  cursor: pointer;
}
.container:active {
  filter: drop-shadow(var(--shadow-none));
}

@media (max-width: 767px) {
  .container {
    gap: 2px;
  }
}
@media (max-width: 450px) {
  .title {
    font-size: 14px;
  }
  .infoText {
    font-size: 12px;
  }
}
