.imageCard {
  height: 12.5rem;
  width: auto;
  border-radius: 30px;
  box-shadow: 0 4px 2px -2px rgb(33 33 33 / 10%) !important;
}
.infoContainer {
  margin-top: 1rem;
  margin-left: 1rem;
}
.title {
  font-weight: 700;
}
.proposals {
  font-weight: 500;
  color: var(--brand-black-tansparent);
}
