.container {
  display: flex;
  width: auto;
  align-items: flex-end;
  align-items: baseline;
  gap: 10px;
  white-space: nowrap;
}
.inputContainer {
  width: 100px;
  max-width: 70px;
}
.fullWidth {
  width: 100%;
}
.inputContainer input {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 2px 8px;
  font-weight: 500;
  height: 36px;
  height: 32px;
  width: 100%;
  border: 1px solid var(--border-med);
}
.inputContainer input:active,
.inputContainer input:focus:focus-visible {
  outline: none;
  border: 1px solid var(--border-dark) !important;
}
.inputContainer input::placeholder {
  color: var(--brand-black-semi-transparent);
}
/* Chrome, Safari, Edge, Opera */
.inputContainer input[type='number']::-webkit-outer-spin-button,
.inputContainer input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
.inputContainer input[type='number'] {
  -moz-appearance: textfield;
}

.awardContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
  flex-direction: column;
}
.addressContainer {
  flex: 1;
}
.addressInput {
  min-width: 100%;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 2px 8px;
  font-weight: 500;
  height: 32px;
  width: 100%;
  border: 1px solid var(--border-med);
  font-size: 14px;
}
.addressInputError {
  border: 1px solid red !important;
}
.addressInput::placeholder {
  color: var(--brand-gray-transparent) !important;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
.addressAndTitle {
  width: 100%;
}
.addressSuccess {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
  background: white !important;
  cursor: 'pointer';
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 2px 12px !important;
  font-weight: 500;
  height: 32px;
  width: 100%;
  border: 1px solid var(--border-med) !important;
  font-size: 14px;
}
.addressSuccess span {
  color: var(--brand-black);
  font-weight: 700;
}
.addressImgAndTitle {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 6px;
}
.addressImgAndTitle span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  margin-right: 5px;
}
.addressImgAndTitle img {
  border-radius: 12%;
  max-width: 16px;
  max-height: 16px;
  object-fit: cover;
}
.error {
  color: red;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
}
.willReceive {
  align-self: self-end;
}
.winnersAndRewards {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
@media (max-width: 500px) {
  .winnersAndRewards {
    align-items: self-end;
    gap: 15px;
  }
  .container {
    flex-direction: column;
    align-items: normal;
  }
  .inputContainer {
    width: 100%;
    max-width: none;
  }
}
