.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-bottom: 0;
}
.subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.02em;
  margin: 0;
  margin-bottom: 2px;
}
.divider {
  margin: 18px 0px;
}
.imgContainer {
  width: 150px;
  height: 150px;
  min-width: 150px;
  min-height: 150px;
  background: var(--bg-med);
  border: 2px solid var(--border-med);
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgContainer img {
  height: 40px !important;
}
.nameHouseSection {
  display: flex;
  gap: 18px;
}
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
}
input {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 2px 8px;
  font-weight: 500;
  height: 36px;
  width: 100%;
  border: 1px solid var(--border-med);
}
input:active,
input:focus:focus-visible {
  outline: none;
  border: 1px solid var(--border-dark) !important;
}
input::placeholder {
  color: var(--brand-black-semi-transparent);
}
.inputNote {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.02em;
}
