.btn {
  border-radius: 14px;
  padding: 0.8rem 1rem;
  margin: 16px;
  white-space: nowrap;
  text-align: center;
  font-size: 21;
  font-weight: bold;
  line-height: 140%;
}

.btnPinkBg {
  background-color: var(--brand-pink);
  border: none;
}

.btnWhiteBg {
  background-color: white;
  color: black;
  border-color: rgba(0, 0, 0, 0.1);
}
