.card {
  margin: 2rem 0;
}

.btnContainer {
  margin-top: 1rem;
  margin-bottom: 4rem;
}
.btnContainer span {
  color: var(--brand-black-tansparent);
  font-weight: 600;
}

.proposalHelperWrapper {
  margin: 2rem 0;
}
.proposalHelperWrapper h1 {
  color: var(--brand-gray);
  font-size: x-large;
}
.proposalHelperWrapper h1 span {
  font-weight: bold;
}

.tipCard a {
  text-decoration: underline !important;
}
