.secondaryCard {
  width: 33.333333%;
  border: 1px solid var(--border-light);
  box-shadow: var(--shadow-low);
  height: max-content;
  min-height: 200px;
  color: var(--brand-black);
}
.secondaryCard p {
  margin-bottom: 0;
}
.title {
  font-weight: 700;
  font-size: 14px;
}
