.headerRow {
  margin-bottom: 2rem;
}

.pageTitle {
  font-size: 38px;
  font-weight: bold;
}
.pageSubtitle {
  font-size: 20px;
  font-weight: 500;
}

.houseCard {
  padding: 0;
  text-align: center;
  padding-bottom: 12px;
  cursor: pointer;
  background-color: white;
  border: 1px solid var(--border-dark);
}

.houseProfImg {
  width: 100% !important;
  height: auto;

  border-radius: 10px 10px 0 0;
}
.houseProfImg:hover {
  cursor: pointer;
}
.title {
  margin: 12px 0;
  font-size: 16px;
  font-weight: bold;
}
.houseDataContainer {
  display: flex;
  flex-direction: column;
}
.houseDataItem {
  font-size: 14px;
}
.houseDataItem span:first-child {
  color: var(--brand-gray);
}
.loadMoreRow {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}
.loadMoreBtn {
  width: fit-content;
}
@media (max-width: 992px) {
  .houseProfImg {
    height: 10rem !important;
    width: auto;
  }
}
