.containerCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 5rem;
}
.content {
  display: flex;
  flex-direction: column;
}
.content h1 {
  font-size: 30px;
  font-weight: 700;
  color: var(--brand-black);
}
.content p {
  color: var(--brand-gray);
}
.btnContainer {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  margin: 0;
}
@media (max-width: 996px) {
  .containerCard {
    display: block;
  }
  .btnContainer {
    width: 100%;
  }
  .btnContainer * {
    margin: 1rem 0 0 0;
    width: 100%;
  }
}
