.houseUtilityBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  position: sticky;
  top: 0;
}

.filters {
  display: flex;
  gap: 12px;
  height: 45px;
}

.searchBar {
  display: flex;
  align-items: center;
}
.searchIcon {
  position: absolute;
  padding-left: 12px;
  padding-bottom: 3px;
  color: var(--brand-black-semi-transparent);
}
.searchBar input {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 10px;

  padding: 9px 16px 8px 40px;
  font-weight: 500;
  height: 38px;
  border: 1px solid var(--border-med);
}
.searchBar input:active,
.searchBar input:focus:focus-visible {
  outline: none;
  border: 1px solid var(--border-dark) !important;
}
.searchBar input::placeholder {
  color: var(--brand-black-semi-transparent);
}

@media (min-width: 767px) {
  .searchBar {
    padding-bottom: 12px;
  }
  .searchBar input {
    min-width: 312px;
  }
  .dropdown {
    display: none;
  }
}
@media (max-width: 575px) {
  .filters {
    display: none;
  }
  .houseUtilityBar {
    /* margin-bottom: 12px; */
  }
  .houseUtilityBar {
    gap: 16px;
    justify-content: space-between;
  }
  .utilitySection {
    width: 50%;
  }

  .searchBar input {
    min-width: 0px;
    width: 100%;
  }
}
