.inputLabel {
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-gray);
}
.inputGroup {
  margin-top: 2rem;
}
.inputSection {
  margin: 3rem 0rem;
}

.inputInfo {
  display: flex;
  margin: 0rem 1rem;
  justify-content: space-between;
  align-items: center;
}
.inputChars {
  font-size: 14px;
  color: var(--brand-gray);
}
.inputError {
  color: red;
  font-weight: 600;
  margin-left: 1rem;
  padding: 0.5rem 0rem;
  margin-bottom: 0rem;
}
.input {
  border: none;
  font-size: 20px;
  color: var(--brand-black);
  margin-bottom: 1.75rem;
  white-space: pre-line;
  border-radius: 20px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  padding: 1.5rem;
  margin-bottom: 0rem;
}
.input:focus {
  box-shadow: none;
  border: 1px rgba(0, 0, 0, 0.1) solid;
}

.input::placeholder {
  font-size: 22px;
  font-weight: 600;
  color: var(--brand-black-transparent);
}

.descriptionInput {
  height: 15rem;
}
.quillArea {
  width: 100%;
}
.quill {
  margin-top: -20px;
}
