.headerContainer {
  display: flex;
  margin-top: 2rem;
  flex-direction: column;
}
.headerContainer {
  margin-top: 0rem;
}

@media (min-width: 577px) {
  .headerContainer {
    flex-direction: column;
    gap: 20px;
  }
}

.previewCol {
  word-break: break-word;
}
.previewCol img {
  max-width: 100%;
}

.previewCol h2 {
  margin-top: 2rem;
  font-size: 18px;
  font-weight: 600;
  color: var(--brand-black);
}

.previewCol p {
  font-size: 18px;
  color: var(--brand-black);
}
.proposalBody a {
  font-weight: 600;
  color: var(--brand-pink) !important;
}
.proposalBody a:hover {
  text-decoration: underline !important;
}

hr {
  background-color: var(--brand-gray-semi-transparent);
}

.subinfo {
  display: flex;
  color: var(--brand-black);
  font-weight: 700;
  flex-direction: row;
}

@media (max-width: 577px) {
  .subinfo {
    flex-direction: column;
    gap: 5px;
  }
}
.subinfo a {
  font-weight: 650;
}

.propSubmissionData {
  display: flex;
}
@media (max-width: 577px) {
  .propSpacer {
    display: none !important;
  }
}
.submittedBy {
  display: flex;
  align-items: flex-end;
  color: var(--brand-pink);
  font-weight: 700;
  font-size: 1rem;
  gap: 5px;
}

.textSpacer {
  padding: 0px 5px;
}

.markdown a {
  color: var(--brand-pink) !important;
  text-decoration: underline !important;
}
.markdown img {
  max-width: 100%;
  height: auto;
}

.communityAndPropNumber {
  display: flex;
  align-items: center;
  color: var(--brand-gray) !important;
  gap: 5px;
}

.communityProfImgContainer {
  display: flex;
  align-items: center;
}

.communityProfImg {
  width: 24px;
  height: 24px;
  border-radius: 24px;
  margin-right: 4px;
}
.backBtnContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 700;
  color: var(--brand-gray);
}
@media (max-width: 577px) {
  .backBtnContainer {
    padding-bottom: 25px;
  }
}
.previewCol {
  padding: 0 !important;
}
