.navbar {
  padding-top: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 993px) {
  .navbar {
    margin-bottom: 0.5rem;
  }
}

.navBarCollapse {
  display: flex;
  align-items: center;
}

.navbarBrand {
  color: var(--brand-black);
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

.navbarBrand:hover {
  color: var(--brand-black);
}

.navbar-toggler {
  border-radius: 10px !important;
}

@media (max-width: 991px) {
  .menuLink {
    border-radius: 10px;
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
  }
}

.link {
  font-weight: 600;
}

.link:hover {
  text-decoration: none;
  color: var(--brand-black);
}

.buttonGroup {
  display: flex;
}

.divider {
  border: 1px solid rgba(0, 0, 0, 0.04);
  border-radius: 1px;
}
@media (min-width: 992px) {
  .link {
    margin-right: 0.75rem;
  }

  .menuLink {
    padding-left: 0rem !important;
    padding-right: 0.75rem !important;
  }
  .menuLink:nth-child(2) {
    padding-right: 0rem !important;
  }
}

.poweredByNouns {
  color: var(--brand-black-transparent);
  font-weight: medium;
  font-size: 14px;
}

.poweredByNouns a {
  color: var(--brand-pink);
  text-decoration: none;
}

.bulbImg {
  height: 50px;
  width: 50px;
}
.logoGroup {
  display: flex;
  gap: 10px;
  align-items: center;
}

@media (min-width: 992px) {
  .mobileButton,
  .buttonGroup .divider {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .navBarCollapse {
    width: 50%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0px 2px 14px rgb(0 0 0 / 8%), 0px 6px 24px rgb(0 0 0 / 8%);
    border-radius: 28px 8px 28px 28px;
    padding: 18px;
  }

  .menuLink {
    text-align: left;
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 0px;
  }
  .menuLink .link {
    padding: 9px 10px 8px 0px;
  }

  .nav-link {
    padding: 0rem !important;
  }

  .buttonGroup {
    flex-direction: column;
    width: 100%;
  }

  .navConnectButton button {
    width: 100%;
    margin-top: 12px !important;
  }
}
