.navbar {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.navbarBrand {
  color: var(--brand-black);
  font-weight: 600;
  font-size: 22px;
  text-decoration: none;
}

.navbarBrand:hover {
  color: var(--brand-black);
}

.navbar-toggler {
  border-radius: 10px !important;
}

.link {
  text-decoration: none;
  font-size: 16px;
  font-weight: medium;
  color: var(--brand-black-black);
  cursor: pointer;
}

.link:hover {
  text-decoration: none;
  color: var(--brand-black);
}