.inputLabel {
  margin-left: 1rem;
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-gray);
}
.inputGroup {
  margin: 3rem 0;
  border-bottom: 1px solid var(--brand-gray-transparent);
}
.input {
  border: none;
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-black);
  margin-bottom: 1.75rem;
}
.input:focus {
  box-shadow: none;
}

.input::placeholder {
  font-size: 22px;
  font-weight: 600;
  color: var(--brand-black-tansparent);
}

.descriptionInput {
  height: 15rem;
}
