.subtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 0.02em;
  margin-bottom: 4px;
}
.rewardTypeButtons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.rewardTypeButtons button {
  width: 33%;
  font-size: 14px !important;
  padding: 5px;
}
.rewardTypeButtons button:focus-visible,
.rewardTypeButtons button:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
}
