@font-face {
	font-family: 'PT Root UI';
	src:
		url('./assets/fonts/PT-Root-UI_Bold.woff2') format('woff2'),
		url('./assets/fonts/PT-Root-UI_Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI';
	src:
		url('./assets/fonts/PT-Root-UI_Medium.woff2') format('woff2'),
		url('./assets/fonts/PT-Root-UI_Medium.woff') format('woff');
	font-weight: medium;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI';
	src:
		url('./assets/fonts/PT-Root-UI_Regular.woff2') format('woff2'),
		url('./assets/fonts/PT-Root-UI_Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PT Root UI';
	src:
		url('./assets/fonts/PT-Root-UI_Light.woff2') format('woff2'),
		url('./assets/fonts/PT-Root-UI_Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

* {
  font-family: 'PT Root UI';
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

html, body {
  background-color: #fcfcfc;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}