body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
.dropdown-toggle::after {
  vertical-align: inherit !important;
}

.lang .btn-primary.dropdown-toggle {
  background: transparent !important;
  color: var(--brand-gray) !important;
  border: none !important;
}
.lang .btn-primary.dropdown-toggle:hover {
  color: gray !important;
}
.lang .dropdown-item.active {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 0px !important;
  color: black;
}
@media (max-width: 992px) {
  .lang .btn-primary.dropdown-toggle {
    color: black !important;
    border: 1px solid transparent !important;
    border-color: rgba(0, 0, 0, 0.1) !important;
  }
}
