.ql-container {
  border: none;
  font-size: 20px;
  color: var(--brand-black);
  margin-bottom: 1.75rem;
  white-space: pre-line;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px rgba(0, 0, 0, 0.1) solid;
  padding: 1.5rem;
  margin-bottom: 1rem;
  min-height: 20em !important;
}

.ql-toolbar {
  background: #f5f5f5;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom: none;
  padding: 1.5rem !important;
  position: sticky;
  top: 0;
  z-index: 9;
}
.ql-editor {
  font-size: 20px !important;
  padding: 0 !important;
}
.ql-editor.ql-blank::before {
  left: auto !important;
  right: auto !important;
  font-size: 22px !important;
  font-weight: 600 !important;
  color: var(--brand-black-transparent) !important;
}
.ql-editor a {
  text-decoration: underline !important;
  color: var(--brand-gray) !important;
}
.ql-editor a:hover {
  color: var(--brand-gray-semi-transparent) !important;
  cursor: pointer !important;
  transition: all 0.1s ease-in-out !important;
}
.ql-editor strong {
  font-weight: 600 !important;
}
.ql-editor.ql-blank::before {
  font-style: normal !important;
}

.hideBorderBox {
  background: #fcfcfc;
  top: 0;
  position: sticky !important;
  z-index: 9;
  height: 20px;
}

.quill {
  margin-top: -20px;
}
.ql-syntax {
  background: #2f3136 !important;
  padding: 22px !important;
}
.ql-editor pre {
  background: #2f3136 !important;
  color: white !important;
  padding: 22px !important;
  overflow-x: auto;
}
.ReactModal__Overlay--after-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(0, 0, 0, 0.6) !important;
  backdrop-filter: blur(10px);
}
