.langBtn {
  padding-top: 0.4rem;
}

@media (max-width: 991px) {
  .langBtn {
    margin: 0 !important;
  }
  .langBtn button {
    min-width: 80px !important;
  }
}

.langBtn button {
  border-radius: 10px !important;
  padding: 0.575rem 0.75rem;
  white-space: normal;
  line-height: 140% !important;
  background-color: white;
  color: black;
  border-color: rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-size: 16px !important;
  line-height: 23px;
}

.langBtn button .show > .btn-primary.dropdown-toggle {
  background-color: white !important;
  color: black !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.langBtn button .dropdown-item {
  font-size: 12px !important;
}

.langBtn button:hover {
  color: gray !important;
  background-color: white !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.langBtn button:active,
.langBtn button:focus {
  color: gray !important;
  box-shadow: 0 0 0 0rem var(--brand-gray-transparent) !important;
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.langBtn .show > button:active {
  background-color: rgba(0, 0, 0, 0.1) !important;
  border-radius: 0px !important;
}
.langBtn button:focus-visible {
  outline: none;
}
.lang .dropdown-item:active,
.lang .dropdown-item:focus {
  color: gray !important;
  background-color: var(--brand-gray-semi-transparent) !important;
}
