.container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 28px 12px 8px 12px;
  margin: -32px 0 1rem 0;
  border: 1px solid var(--border-med);
  border-top: none;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  background-color: var(--bg-med);
  min-height: 4rem;
}

.content {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}

.textContent {
  display: flex;
  justify-content: center;
}

.content .copy {
  font-size: 16px;
  font-weight: bold;
  color: var(--brand-gray);
}
.content .dataItem {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.content .dataItem svg {
  color: var(--brand-gray-transparent);
}
