.sidebarContainerCard {
  background: var(--bg-dark);
  border: 1px solid var(--border-light);
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between !important;
}
.sidebarContainerCard button {
  width: 100%;
  border-radius: 50px;
  margin-top: 18px;
}

@media (max-width: 993px) {
  .sideCards {
    display: flex;
    padding: 0;
    gap: 8px;
    margin-top: -16px;
  }
  .sidebarContainerCard {
    flex: 1;
    min-width: 250px !important;
    height: max-content !important;
  }
  .carousel {
    display: flex;
    overflow-x: scroll;
  }
  ::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
  }
  .carousel {
    padding: 0px 24px;
  }
  .breakOut {
    width: 100vw;
    max-width: none !important;
    position: relative;
    left: calc(-1 * (100vw - 100%) / 2);
    height: max-content !important;
  }
}
