.sortContainer {
  display: flex;
  align-items: center;
}

.sortItem {
  display: flex;
  align-items: center;
  background: white;
  padding: 4px 6px 4px 10px;
  border-radius: 50px;
  justify-content: space-between;
  gap: 10px;
  margin-left: 0.5rem;
  border: 2px rgba(0, 0, 0, 0.1) solid;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.3s;
  color: black;
  opacity: 50%;
}

.sortItem:hover {
  opacity: 75%;
  border: 2px rgba(80, 186, 154, 1) solid;
}
.sortItem svg {
  background: rgba(80, 186, 154, 0.2);
  border-radius: 50px;
  color: rgba(80, 186, 154, 1);
  padding: 4px;
}
.active {
  opacity: 100%;
  border: 2px rgba(80, 186, 154, 1) solid;
}
