.headerContainer {
  display: flex;
  /* align-items: center; */
  margin-top: 2rem;
  flex-direction: column;
}
.headerContainer {
  margin-top: 0rem;
}

@media (min-width: 577px) {
  .headerContainer {
    flex-direction: row;
    gap: 20px;
  }
}

.previewCol {
  word-break: break-word;
}

.previewCol h2 {
  margin-top: 3rem;
  font-size: 18px;
  font-weight: 600;
  color: var(--brand-gray);
}

.previewCol p {
  font-size: 18px;
  color: var(--brand-black);
}

hr {
  background-color: var(--brand-gray);
}

.subinfo {
  display: flex;
  color: var(--brand-black-transparent);
  font-weight: 700;
  flex-direction: row;
  padding-bottom: 5px;
}
.subinfo a {
  margin-left: 0.5rem;
  font-weight: 650;
}

.markdown a {
  color: var(--brand-pink) !important;
  text-decoration: underline !important;
}
.markdown img {
  max-width: 100%;
  height: auto;
}
