.sideCardBody {
  font-size: 14px;
  margin-bottom: 0;
}
.title {
  font-size: 18px;
  margin-bottom: 0;
}
.subtitle {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--brand-gray);
}
.icon {
  width: 44px;
  height: 44px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.purpleText {
  color: var(--brand-purple);
}
.purpleIcon {
  background: var(--brand-purple-hint);
  border: 1px solid var(--brand-purple-semi-transparent);
}
.purpleIcon svg {
  color: var(--brand-purple);
}
.divider {
  margin: 18px 0px;
}
.bulletList {
  color: var(--brand-gray);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 2px;
}

.bulletList b {
  color: var(--brand-black);
}

.vote {
  color: var(--brand-black);
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
}
.vote svg {
  min-width: 14px;
  min-height: auto;
  margin-right: 6px;
  padding: 1px;
  border-radius: 2px;
}

.vote svg.thumbsUp {
  color: var(--brand-green);
  background-color: var(--brand-green-hint);
  border: 1px solid var(--brand-green-hint);
}
.vote svg.thumbsDown {
  color: var(--brand-gray-transparent);
  background-color: var(--border-light);
  border: 1px solid var(--border-light);
}

.votingInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
}
.votingBar {
  border-radius: 50px;
  margin: 12px 0px;
  background: var(--brand-purple-hint);
}
