.replyContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  gap: 5px;
}
.replyHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5px;
}

.ethAddress,
.timestamp {
  color: var(--brand-gray);
  font-weight: 700;
  font-size: 14px;
}
.timestamp {
  font-size: 14px !important;
  font-weight: 500 !important;
}
.replyBody {
  font-size: 14px;
  color: var(--brand-gray);
  font-weight: 600;
}
