.ethAddress a {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  color: black !important;
  margin: 0 !important;
}
.ethAddress img {
  margin-right: 4px;
}

.ethAddress a:visited {
  color: inherit;
}
