.cardContainer {
  height: 512px;
  width: 1024px;
  background: white;
  background: url('../../assets/noggle-pattern-social.png');
  padding: 80px 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardTitle {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  font-weight: 700;
  font-size: 44px;
  line-height: 70%;
  gap: 10px;
  margin-bottom: 15px;
}
.houseName {
  color: #abadb8;
  font-family: 'Londrina Solid';
}
.roundName {
  font-family: 'Londrina Solid';
}
.propName {
  font-style: normal;
  font-weight: 700;
  font-size: 75px;
  line-height: 115%;
}
.userInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.proposedBy {
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: var(--brand-gray);
}

.openGraphAvatar {
  font-weight: 700;
  font-size: 42px;
  line-height: 70%;
  color: #14161b;
}
