.sortContainer {
  display: flex;
  /* align-items: center; */
  /* align-self: flex-end; */
  gap: 15px;
}

.sortItem {
  display: flex;
  align-items: center;
  background: white;
  /* padding: 4px 6px 4px 10px;
  border-radius: 50px; */
  justify-content: space-between;
  gap: 10px;
  /* margin-left: 0.5rem; */

  /* border: 2px rgba(0, 0, 0, 0.1) solid; */
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: box-shadow 0.3s;
  color: black;
  opacity: 0.5;
  padding-bottom: 20px;
  border-bottom: 2px solid transparent;
}

.sortItem:hover {
  opacity: 0.75;
  /* border: 2px rgba(80, 186, 154, 1) solid; */
}
.sortLabel {
  color: #666666;
}
.sortItem svg {
  /* background: --var(brand-purple); */
  background: var(--brand-purple-transparent);
  /* border-radius: 50px; */
  /* color: rgba(80, 186, 154, 1); */
  /* color: var(--brand-purple); */
  padding: 4px;
  background: rgba(138, 43, 226, 0.08);
  border-radius: 6px;
  color: #8a2be2;
}
.active {
  opacity: 1;
  border-bottom: 2px solid var(--brand-purple);
  /* border: 2px rgba(80, 186, 154, 1) solid; */
}
