.cardContainer {
  height: 512px;
  width: 1024px;
  background: white;
  background: url('../../assets/noggle-pattern-social.png');
  padding: 80px 120px;
  display: flex;
  flex-direction: column;
}
.cardTitle {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 54px;
  font-weight: 700;
  font-size: 44px;
  line-height: 70%;
  gap: 10px;
  margin-bottom: 15px;
}
.logo {
  display: flex;
  gap: 10px;
  margin-bottom: 35px;
}

.logo img {
  width: 70px;
  height: 70px;
  align-self: center;
}
.logo span {
  font-size: 54px;
  font-family: 'Londrina Solid';
}
.propText {
  color: #151c3b;
}

.houseText {
  color: #abadb8;
}
.roundName {
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 115%;
}
.houseInfoCountainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.date {
  font-weight: 700;
  color: var(--brand-gray);
  font-size: 26px;
  line-height: 150%;
  font-feature-settings: 'tnum' on, 'lnum' on, 'ss06' on, 'ss01' on, 'liga' off;
}
.infoAndImage {
  display: flex;
  align-items: center;
  gap: 50px;
}

.roundInfoContainer {
  display: flex;
  gap: 60px;
}
.roundInfo {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.xDivide {
  color: var(--brand-gray-transparent);
  font-weight: 500;
}
.title {
  font-weight: 700;
  font-size: 26px;
  line-height: 150%;
  color: rgba(102, 102, 102, 0.6);
}
.subtitle {
  font-weight: 700;
  font-size: 42px;
  line-height: 70%;
  color: #14161b;
}
