.card {
  border: 1px rgba(0, 0, 0, 0.1) solid;
  padding: 1.85rem;
  margin: 1rem 0;
}
.lightPurpleBg {
  background-color: #f4f2f6;
}
.darkPurpleBg {
  background-color: #ece8f0;
}
.whiteBg {
  background-color: white;
}
.lightPurpleBg.onHoverEffect:hover {
  background-color: #f4f2f6d0;
}
.darkPurpleBg.onHoverEffect:hover {
  background-color: #ece8f0d0;
}
.whiteBg.onHoverEffect:hover {
  background-color: rgba(255, 255, 255, 0.6);
}

.borderRadius20 {
  border-radius: 20px;
}
.borderRadius30 {
  border-radius: 30px;
}
