.card {
  border: 1px rgba(0, 0, 0, 0.1) solid;
  padding: 1.85rem;
  margin: 1rem 0;
}
.lightBg {
  background-color: #f4f2f6;
}
.darkBg {
  background-color: #ece8f0;
}
.borderRadius20 {
  border-radius: 20px;
}
.borderRadius30 {
  border-radius: 30px;
}
