.sideCardHeader {
  font-weight: 700;
  display: flex;
  gap: 16px;
  align-items: center;
}
.sideCardHeader svg {
  width: 24px;
  height: 24px;
}
.icon {
  width: 44px;
  height: 44px;
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.greenIcon {
  background: var(--brand-green-hint);
  border: 1px solid var(--brand-green-semi-transparent);
}
.greenIcon svg {
  color: var(--brand-green);
}
.title {
  font-size: 18px;
  margin-bottom: 0;
}
.subtitle {
  margin-bottom: 0;
  font-size: 14px;
  color: var(--brand-gray);
}
.divider {
  margin: 18px 0px;
}
.sideCardBody {
  font-size: 14px;
  margin-bottom: 0;
}
.bulletList {
  color: var(--brand-gray);
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-top: 8px;
}
.bulletList b {
  color: var(--brand-black);
}

.bulletItem {
  display: flex;
  gap: 18px;
}
.bulletItem p {
  margin-bottom: 0;
}
.bullet {
  color: var(--brand-gray-semi-transparent);
  border-radius: 50px;
  min-width: 18px !important;
  height: 2px !important;
  margin: 0;
  margin-top: 10px;
}
