.wrapper {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.poweredByNouns {
  color: var(--brand-black-tansparent);
  font-weight: 600;
  margin-bottom: 1rem;
}
.poweredByNouns a {
  color: var(--brand-pink);
  text-decoration: none;
}

.leftCol h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 70px;
}

.leftCol p {
  margin: 1rem 0;
  font-size: 20px;
}
.btnsContainer {
  display: flex;
}
.btnsContainer button {
  margin-left: 0;
}

.rightCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 992px) {
  .btnsContainer {
    margin-bottom: 2rem;
  }
  .btnsContainer div {
    text-align: center;
  }
  .btnsContainer button {
    width: 95%;
  }
}
