.wrapper {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
}

.searchBarContainer {
  height: 20px;
}

.learnMoreBtn {
  margin-top: 1rem;
  width: fit-content;
  border-radius: 28px;
  background-color: transparent;
  border: 1px solid var(--brand-purple-semi-transparent);
  color: var(--brand-purple);
  font-size: 14px;
  font-weight: bold;
}
.learnMoreBtn:hover {
  background: rgba(148, 23, 226, 0.08);
}

@media (min-width: 991px) {
  .searchBarContainer {
    padding: 0 !important;
  }
}

@media (max-width: 1199px) {
  .searchBarContainer {
    max-width: 960px !important;
  }
}

@media (max-width: 992px) {
  .homeCardsContainer {
    padding: 0px !important;
  }
}

@media (max-width: 990px) {
  .searchBarContainer {
    max-width: 960px !important;
    padding: 0 40px !important;
  }
}

@media (max-width: 575px) {
  .searchBarContainer {
    padding: 0 20px !important;
  }
}
