.searchBar {
  display: flex;
  align-items: center;
  margin-bottom: -30px !important;
}

.searchIcon {
  position: absolute;
  padding-left: 12px;
  padding-bottom: 3px;
  color: var(--brand-black-semi-transparent);
}
.searchBar input {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  padding: 9px 16px 8px 40px;
  font-weight: 500;
  height: 38px;
  border: 1px solid var(--border-med);
  width: 100%;
  border: var(--border-light);
  box-shadow: var(--shadow-high);
}
.searchBar input:active,
.searchBar input:focus:focus-visible {
  outline: none;
  border: 1px solid var(--border-dark) !important;
}
.searchBar input::placeholder {
  color: var(--brand-black-semi-transparent);
}

@media (min-width: 767px) {
  .searchBar {
    padding-bottom: 12px;
  }
  .searchBar input {
    width: 100%;
    min-width: 312px;
  }
}
@media (max-width: 575px) {
  .searchBar input {
    min-width: 0px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .searchBar {
    margin-bottom: -35px !important;
  }
}

@media (min-width: 1200px) {
  .searchBar {
    width: auto !important;
    max-width: 992px !important;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.searchBar input:disabled {
  pointer-events: none !important;
  border: 1px solid var(--border-light) !important;
}
