.leftSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.leftSectionTitle {
  font-size: 24px;
  font-weight: bold;
}
.leftSectionSubtitle {
  font-size: 14px;
  font-weight: 600;
  color: var(--brand-black-tansparent);
}

.infoSection {
  display: flex;
  justify-content: flex-end;
}

.infoSubsection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
}
.infoSubsection button {
  margin: 0;
}

.infoSubsectionTitle {
  font-size: 14px;
  font-weight: 600;
  color: var(--brand-black-tansparent);
}

.infoSubsectionContent {
  font-size: 24px !important;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  align-items: center;
}
.infoSubsectionContent span {
  margin-left: 0.4rem;
  color: var(--brand-gray);
  opacity: 0.5;
}

@media (max-width: 992px) {
  .infoSection {
    margin: 1rem 0;
    flex-direction: column;
  }
  .infoSubsection {
    margin: 0;
    align-items: flex-start;
  }
  .infoSubsectionTitle {
    text-align: left;
  }
  .infoSubsectionContent {
    text-align: left;
  }
  .infoSubsection a {
    margin-top: 1rem;
    width: 100%;
  }
}
