.row {
  display: flex;
  justify-content: space-between;
}

.leftSectionContainer {
  display: flex;
  flex-direction: row;
}

.titleSectionContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftSectionTitle {
  font-size: 24px;
  font-weight: bold;
}

.leftSectionSubtitle {
  font-size: 15px;
  font-weight: medium;
  color: var(--brand-black-transparent);
}

.infoSection {
  display: flex;
  justify-content: flex-end;
}

.infoSubsection {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  margin: 0 1rem;
}

.infoSubsection button {
  margin: 0;
}

.infoSubsectionTitle {
  font-size: 15px;
  font-weight: 500;
  color: var(--brand-black-transparent);
}

.infoSubsectionContent {
  font-size: 20px !important;
  font-weight: bold;
  white-space: nowrap;
  display: flex;
  align-items: center;
}

.infoSubsectionContent span {
  margin-left: 0.4rem;
  color: var(--brand-gray);
  opacity: 0.5;
}

.arrowsContainer {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.arrowsContainer svg {
  margin-left: 0.2rem;
}

.able {
  cursor: pointer;
  color: var(--brand-black-transparent) !important;
}

.able:hover {
  color: var(--brand-black) !important;
  transition: all 0.15s ease-in-out;
}

.disable {
  color: rgba(0, 0, 0, 0.122);
}

@media (max-width: 992px) {
  .row {
    flex-direction: column;
  }

  .leftSectionContainer {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .infoSection {
    margin: 1rem 0;
    flex-direction: column;
  }

  .infoSubsection {
    margin: 0;
    align-items: flex-start;
  }
  .infoSubsection button {
    margin: 1rem 0 0 0;
    width: 100%;
  }

  .infoSubsectionTitle {
    text-align: left;
  }

  .infoSubsectionContent {
    text-align: left;
  }

  .infoSubsection a {
    margin-top: 1rem;
    width: 100%;
  }
}

.votingRow {
  position: sticky !important;
  top: 0 !important;
  z-index: 1 !important;
}
