.houseContainer {
  background: var(--bg-dark);
  border-top: 1px solid var(--border-light);
  min-height: 350px;
  padding: 1rem;
}

.stickyContainer {
  background: white;
  top: 0;
  position: sticky !important;
  z-index: 1;
  padding-top: 12px;
  box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.05) !important;
}

@media (max-width: 575px) {
  .houseContainer {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .stickyContainer {
    padding: 12px 0px 8px 0px;
  }
}
