.controlContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.arrow {
  font-size: xx-large;
  margin: 0 0.4rem;
}
.arrow:nth-of-type(1) {
  margin-left: 1rem;
}
.navDisabled {
  color: grey !important;
  pointer-events: none;
}
.navEnabled {
  cursor: pointer;
}
